.madeBy {
  border-radius: 10px;
  font-size: 15px;
  padding: 7px;
  color: white;
  width: fit-content;
  &:active {cursor: not-allowed;}

@media screen and (min-width: 1178px) {  //  on pc
  opacity: 30%;
  transition: opacity 150ms ease-out;

&:hover {opacity: 1; cursor: pointer; transition: opacity 150ms ease-in;}
}}

.madeByYoshomay {
  @media screen and (min-width: 1178px) {  //  on pc
    position: absolute;
    top: 1%; right: 1%;}
}



.artGridContainer {
  @media screen and (max-width: 480px) {
    @supports not (-moz-animation: none) {grid-template-columns: 49% 40%;}
    width: 430px;
    grid-template-columns: 49% 49%;
    display: grid;
    grid-gap: 1em;}

  @media screen and (min-width: 481px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding: 14px 0px 0 10px;
    width: calc(100vw - 80px);
    grid-gap: 1em;
    margin: 0 auto;
}}

.col {
      align-self: start;
      margin: 0px 0 20px 0;
      @media screen and (max-width: 480px) {
      width: 180px;
      img{width: 150px;}}}


 
      
      
.topGrid {
  @media screen and (max-width: 480px) {
    display: block;
    color: red;
    grid-template-columns: 90%;
  }
}

.topGridDivs {
  max-width: 260px;
  @media screen and (max-width: 480px) {
    width: 440;
  }
}