.madeBy {
  border-radius: 10px;
  font-size: 15px;
  padding: 7px;
  color: white;
  width: fit-content;
  position: fixed;
  &:active {cursor: not-allowed;}

@media screen and (min-width: 1178px) {  //  on pc
  opacity: 30%;
  transition: opacity 150ms ease-out;

&:hover {opacity: 1; cursor: pointer; transition: opacity 150ms ease-in;}
}}




.artGridContainer {
  @media screen and (max-width: 480px) {  //  mobile
    @supports not (-moz-animation: none) {  //  chromium
      .col {background-color: rgba(0,0,0,0);}}
      overflow: hidden;
    width: 90%;
    display: grid;
    grid-template-columns: 85%;
    grid-auto-rows: auto;
    justify-content: center;
    padding: 1em;
    img, iframe {width: 90%;}}

  @media screen and (min-width: 481px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    //padding: 14px 0 0 14px;
    padding: 1em;
    width: 95%;
    grid-gap: 4em;
    margin: 0 auto;
    img, iframe {width: 160px}}
    span {width: fit-content; margin: 0 auto;}
}

.col {
      align-self: center;
      margin: 0 0 10px 0;
      max-width: 250px;
      @media screen and (max-width: 480px) {
      margin: 0 0 10px 0 auto;
    }}


 
      
      
.topGrid {
    .col {margin: 0 auto;}
    @media screen and (max-width: 627px) {width: fit-content; grid-template-columns: 1fr;}
    @media screen and (max-width: 480px) {.col {margin-bottom: 70px;}}
    max-width: 1000px;
}

.topGridDivs {
  max-width: 260px;
  @media screen and (max-width: 480px) {
    width: 440;
  }
}




.settingsIcon {
  top: 2%;
  left: 1%;
  position: absolute;
  padding: 4px;
  z-index: 10;
}

.themeSettings {
  width: 300px;
  padding: 3px;
  display: flex;
  justify-content: center;
  z-index: 11;
}
.themeSettings hr {
  display: none;
}
@media screen and (min-width: 800px) {
  .themeSettings {
    width: 150px;
    position: absolute;
    top: 1%;
    left: 1%;
  }
}