.madeBy {
  border-radius: 10px;
  font-size: 15px;
  padding: 7px;
  color: white;
  width: fit-content;
  position: fixed;
  &:active {cursor: not-allowed;}

@media screen and (min-width: 1178px) {  //  on pc
  opacity: 30%;
  transition: opacity 150ms ease-out;

&:hover {opacity: 1; cursor: pointer; transition: opacity 150ms ease-in;}
}}

.madeByYoshomay {
  @media screen and (min-width: 1178px) {  //  on pc
    position: absolute;
    top: 1%; right: 1%;}
}





.artGridContainer {
  @media screen and (max-width: 480px) {  //  mobile
    @supports not (-moz-animation: none) {  //  chromium
      .col {background-color: rgba(0,0,0,0);}}
    width: 90%;
    display: grid;
    grid-template-columns: 85%;
    grid-auto-rows: auto;
    justify-content: center;
    grid-gap: 1em;
    img, iframe {width: 90%;}}

  @media screen and (min-width: 481px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding: 14px 0px 0 10px;
    width: calc(100vw - 80px);
    grid-gap: 1em;
    margin: 0 auto;
    img, iframe {width: 160px}}
    span {width: fit-content; margin: 0 auto;}
}

.col {
      align-self: start;
      margin: 0 0 10px 0;
      width: 250px;
      @media screen and (max-width: 480px) {
      margin: 0 auto;
    }}


 
      
      
.topGrid {
  //@media screen and (min-width: 481px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: fit-content;
    padding: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
  //}
  //@media screen and (max-width: 480px) {
  //  width: 95%;
  //  display: block;
  //  grid-template-columns: 90%;
  // margin-down: 10px;
  //}
}

.topGridDivs {
  max-width: 260px;
  @media screen and (max-width: 480px) {
    width: 440;
  }
}




.settingsIcon {
  top: 2%;
  left: 1%;
  position: absolute;
  padding: 4px;
  z-index: 10;
}

.themeSettings {
  width: 300px;
  padding: 3px;
  display: flex;
  justify-content: center;
  z-index: 11;
}
.themeSettings hr {
  display: none;
}
@media screen and (min-width: 800px) {
  .themeSettings {
    width: 150px;
    position: absolute;
    top: 1%;
    left: 1%;
  }
}