body {
    background-image: url("../images/background.png");
    background-attachment: fixed;
    background-size: cover;
    
@media screen and (max-width: 480px) {background-position: 35%;}}

div {
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(6px);
    margin: 0 auto;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 15px; 
}

a {color:white; text-decoration-style: underline;}

button {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    cursor: pointer;
    //box-shadow: 0 4px gray;
    margin: 5px auto;
    color: lightgray;
    padding: 3px;
    outline: none;
    border: solid black 0px;

    transition: background-color 150ms ease-out;
    transition: padding 200ms ease-out;
    transition: color 150ms ease-out;
    transition: font-weight 150ms ease-out;

&:hover {
    transition: background-color 150ms ease-in;
    transition: padding 200ms ease-in;
    transition: color 100ms ease-in;
    transition: font-weight 150ms ease-in;
        
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3px;
    color: white;
    font-weight: bold;
    }

&:active {cursor: not-allowed;}
}

.button0 {background-color:rgba(255, 255, 255, 0.1);}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 7px 7px 0 7px;
}